@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #61797D;
  --bg-color: #FAFAFA;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*h1, h2, h3, h4, h5, h6 {
 font-family: 'Noto Sans Display', sans-serif;
}*/

a {
  text-decoration: none;
  color: inherit;
}