@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: 'DM Sans', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1A1A1A;
  background-color: #FAFAFA;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #61797D;
  text-decoration: inherit;
}
a:hover {
  color: #4A5F63;
}

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FAFAFA;
  --primary-color: #61797D;
  --bg-color: #FAFAFA;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg-color);
  font-family: 'DM Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/*h1, h2, h3, h4, h5, h6 {
 font-family: 'Noto Sans Display', sans-serif;
}*/

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: all 0.2s;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #1A1A1A;
    background-color: #FAFAFA;
  }
}
